* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  background: #262626;
  width: 100%;
  height: 94.8vh;
}

.outer {
  position: relative;
  background: #fff;
  height: 90%;
  width: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 15px 15px 15px 15px black;
}

img {
  position: absolute;
  top: 0px;
  right: -20px;
  z-index: 0;
  animation-delay: 0.5s;
  width: 80%;
  height: fit-content;
  max-width: 1328px;
}

.content {
  animation-delay: 0.3s;
  position: absolute;
  left: 20px;
  top: 30px;
  z-index: 3;
}

h1 {
  color: #111;
  text-align: center;
  font-size: 100px;
}
h3 {
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.desc {
  background-color: #262626;
  border-bottom: gold 3px solid;
  padding: 20px;
  color: #fff;
}

p {
  width: 400px;
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
  margin: 20px 0;
  border-left: #000000 3px solid;
  padding-left: 5px;
}

.bg {
  display: inline-block;
  color: #fff;
  background: rgb(0, 0, 0);
  border-bottom: gold 3px solid;
  padding: 6px 70px 6px 6px;
  margin: 1px;
  border-radius: 0 50px 0 0;
  font-size: 50px;
}
.button {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
span {
  color: green;
  font-size: 30px;
  text-align: center;
  align-items: center;
}
.button a {
  display: block;
  overflow: hidden;
  position: relative;
  right: 0px;
  font-size: 20px;
  color: #111;
  padding: 20px;
  border: 1px solid #aaa;
  font-weight: bold;
  width: 200px;
}

.button a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #111;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.button a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}

.button a:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.button a:nth-of-type(1) {
  border-radius: 50px;
  border-right: none;
}

.button a:nth-of-type(2) {
  border-radius: 50px;
}

.cart-icon {
  padding-right: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.buy {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.buy:hover {
  background-color: #0056b3;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.buy::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s, opacity 0.4s;
}

.buy:active::after {
  transform: scale(4);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
