/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next row */
  gap: 20px; /* Space between cards */
  justify-content: center; /* Center cards in the container */
  padding: 30px;
}

/* Card Styles */
.card {
  width: 300px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* Ensure all images in cards have the same size */
.card-image {
  width: 100%;
  height: 200px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.card-content {
  padding: 16px;
  padding-bottom: 0;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 8px;
}

.card-price {
  font-size: 1.2rem;
  color: #27ae60; /* Green color for the price */
  margin-bottom: 12px;
  font-weight: bold;
}

.card-description {
  font-size: 1rem;
  color: #666;
}

.flexi {
  padding-bottom: 13px;
}

.sub {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.sub:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.sub:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.sub:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
